<template>
    <button @click="makeOfferModal = true" class="w-full sm:w-auto inline-flex items-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase justify-center">
        <span>Make Offer</span>
    </button>
    <tw-modal
            :showing="makeOfferModal"
            @close="makeOfferModal = false"
            :showClose="true"
            :backgroundClose="false"
            :noFlex="true"
            :noPadding="true"
        >
        <div class="py-5 px-4 flex flex-col h-full lg:block relative">
            <div class="space-y-4" v-if="!xdr">
                <div>
                    <v-input name="price" :error="getError('price')" label="Price" :append="true" placeholder="Price" v-model:value="data.price">
                        <template #append>XLM</template>
                        <template #hint>Your previous offer will be deleted.</template>
                    </v-input>
                </div>
                <button type="button" @click="createTransaction" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div v-else>Next</div>
                </button>
            </div>
            <div class="space-y-4" v-else>
                <div>
                    <div class="block font-medium text-sm">XDR</div>
                    <div class="mt-1">
                        <span class="break-words text-xs" v-html="xdr"></span>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">
                        <a :href="laboratoryLink" class="underline" target="_new">View in Stellar Laboratory</a>
                    </p>
                </div>
                <button type="button" @click="makeOffer" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div v-else>Sign & Make Offer</div>
                </button>
                <button type="button" @click="xdr = ''" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div>Back</div>
                </button>
            </div>
            <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
        </div>
    </tw-modal>
</template>

<script>
	export default {
		props: {
            xdrAction: {
                type: String,
                required: true
            },
            action: {
                type: String,
                required: true
            },
            test: {
                type: Boolean,
                default: true
            },
            wallet: {
                type: String,
                required: true
            },
            userPublicKey: {
                type: String,
                required: true
            }
		},
        data() {
            return {
                loading: false,
                makeOfferModal: false,
                data: {
                    price: ''
                },

                errors: {},

                xdr: '',
                tx_data: ''
            }
        },
		methods: {
            makeOffer() {
                if(!this.xdr) return;
                if(this.loading) return;

                this.loading = true;
                this.errors = {};

                window.signTransction(this.wallet, this.xdr, this.test).then((xdr) => {
                    axios.post(this.action, {
                        xdr: xdr,
                        data: this.tx_data
                    })
                    .then(response => {
                        this.loading = false;
                        if(response.data.success) {
                            location.reload();
                        } else {
                            this.xdr = '';
                            this.addError('price', 'An error occurred, please try again later.');
                        }
                    })
                    .catch(error => {
                        this.xdr = '';
                        this.addError('price', 'An error occurred, please try again later.');
                    });
                }).catch(error => {
                    this.loading = false;
                    this.xdr = '';
                    this.addError('price', 'An error occurred, please try again later.');
                });
            },
            createTransaction() {
                if(this.loading) return;

                this.loading = true;
                this.errors = {};

                window.getAccountBalance(this.userPublicKey, this.test).then((balance) => {
                    if(balance) {
                        axios.post(this.xdrAction, {
                            balance: balance,
                            ...this.data
                        })
                        .then(response => {
                            this.loading = false;
                            if(response.data.success) {
                                this.xdr = response.data.xdr;
                                this.tx_data = response.data.data;
                            } else {
                                this.addError('price', 'An error occurred, please try again later.');
                            }
                        })
                        .catch(error => {
                            this.loading = false;
                            const response = error.response;
                            this.errors = response.data.errors;
                        });
                    } else {
                        this.loading = false;
                        this.addError('price', 'Insufficient balance to make the offer');
                    }
                })
                .catch(error => {
                    this.loading = false;
                    this.addError('price', 'An error occurred, please try again later.');
                });
            },
            addError(name, error) {
                this.errors[name] = [];
                this.errors[name].push(error);
            },
            getError(name) {
                if(this.errors[name]) {
                    return this.errors[name][0];
                }

                return '';
            },
		},
        created() {
            
        },
        computed: {
            laboratoryLink() {
                if(!this.xdr) return '';

                let link = `https://laboratory.stellar.org/#xdr-viewer?input=${ encodeURIComponent(this.xdr) }&type=TransactionEnvelope&network=${ this.test ? 'test' : 'public'}`;

                return link;
            }
        }
	};
</script>