<template>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div v-if="!verified">
                <div class="block text-left text-yellow-600 bg-yellow-200 border border-yellow-400 p-2 rounded-sm" role="alert">
                    <div class="text-sm font-medium">To update Profile Image and/or Profile Banner your account has to be verified. <a class="underline" :href="verificationUrl">Verify now</a>.</div>
                </div>
            </div>
            <div>
                <v-file v-if="verified" name="profile_image" :error="getError('profile_image')" label="Profile Image" v-model:value="data.profile_image">
                    <template #hint>File types supported: JPG, PNG. Max size: 2 MB</template>
                </v-file>
            </div>
            <div>
                <v-file v-if="verified" name="profile_banner" :error="getError('profile_banner')" label="Profile Banner" v-model:value="data.profile_banner">
                    <template #hint>File types supported: JPG, PNG. Max size: 2 MB</template>
                </v-file>
            </div>
            <div>
                <v-input name="name" :error="getError('name')" label="Name" :hint="false" placeholder="Your profile name" v-model:value="data.name"></v-input>
            </div>
            <div>
                <v-textarea :rows="2" name="bio" :hint="false" :error="getError('bio')" label="Bio" placeholder="Your profile bio..." v-model:value="data.bio"></v-textarea>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <v-input name="twitter" :error="getError('twitter')" label="Twitter" :hint="false" v-model:value="data.twitter"></v-input>
            </div>
            <div>
                <v-input name="instagram" :error="getError('instagram')" label="Instagram" :hint="false" v-model:value="data.instagram"></v-input>
            </div>
            <div>
                <v-input name="facebook" :error="getError('facebook')" label="Facebook" :hint="false" v-model:value="data.facebook"></v-input>
            </div>
            <div>
                <v-input name="reddit" :error="getError('reddit')" label="Reddit" :hint="false" v-model:value="data.reddit"></v-input>
            </div>
            <div>
                <v-input name="website" :error="getError('website')" label="Website" :hint="false" v-model:value="data.website"></v-input>
            </div>
            <div>
                <v-input name="email" :error="getError('email')" label="Email" :hint="false" v-model:value="data.email"></v-input>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <button @click="updateSettings()" class="inline-flex items-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full justify-center h-12" :disabled="loading">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div class="flex items-center" v-else>
                        <div>Update</div>
                    </div>
                </button>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
</template>

<script>
	export default {
		props: {
			action: {
				required: true,
				type: String
			},
            presetData: {
                type: Object,
                required: true
            },
            verified: {
                type: Boolean,
                default: false
            },
            verificationUrl: {
                type: String,
                default: ''
            }
		},
        data() {
            return {
                loading: false,

                errors: {},
                data: {
                    name: '',
                    bio: '',
                    profile_image: '',
                    profile_banner: '',
                    twitter: '',
                    instagram: '',
                    facebook: '',
                    reddit: '',
                    website: '',
                    email: '',
                },
            }
        },
		methods: {
            updateSettings() {
                if(this.loading) return;

                this.loading = true;
                this.errors = {};

                axios.put(this.action, {
                    ...this.data
                })
                .then(response => {
                    if(response.data.success) {
                        this.loading = false;
                        this.data = response.data.savedData;
                        if(response.data.url) location.href = response.data.url;
                    } else {
                        window.toast.error('An error occurred, please try again later.');
                    }
                })
                .catch(error => {
                    this.loading = false;
                    const response = error.response;
                    this.errors = response.data.errors;
                    this.$nextTick(() => {
                        let domRect = document.querySelector('.validation-error').parentNode.getBoundingClientRect();
                        window.scrollTo(
                            0,
                            domRect.top + document.documentElement.scrollTop
                        );
                    });
                });
            },
            addError(name, error) {
                this.errors[name] = [];
                this.errors[name].push(error);
            },
            getError(name) {
                if(this.errors[name]) {
                    return this.errors[name][0];
                }

                return '';
            },
		},
        created() {
            if(this.presetData) {
                this.data = this.presetData;    
            }
        }
	};
</script>