<template>
    <div class="block font-medium text-sm" v-if="label"><span v-html="label"></span><span class="font-normal text-xs" v-if="optional"> (optional)</span></div>
    <div class="mt-2 shadow-sm rounded-md block w-full border border-gray-300 dark:border-gray-400 overflow-y-scroll h-24">
        <button v-for="category in categories" :key="category.id" class="text-sm w-full font-medium py-1 px-3 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-none" :class="{'bg-gray-200': selected.includes(category.id)}" @click="toggleCategory(category.id)">
            <div class="flex items-center justify-between">
                <div v-html="category.name"></div>
                <div class="text-purple-500" v-if="selected.includes(category.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                    </svg>
                </div>
            </div>
        </button>
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        categories: {
            type: Array,
            required: true
        },
        label: String,
        optional: {
            type: Boolean,
            default: false
        },
        value: Array,
        error: String,
        hint: {
            type: Boolean,
            default: true
        }
	},
    emits: ['update:value'],
    data() {
        return {
            selected: [],
        }
    },
    methods: {
        toggleCategory(id) {
            let index = this.selected.indexOf(id);
            if (index > -1) {
                this.selected.splice(index, 1);
            } else {
                this.selected.push(id);
            }
        }
    },
    created() {
        this.selected = this.value;
    },
    watch: {
        selected() {
            this.$emit('update:value', this.selected);
        }
    }
};
</script>