<template>
    <label :for="id" class="block font-medium text-sm" v-if="label"><span v-html="label"></span><span class="font-normal text-xs" v-if="optional"> (optional)</span></label>
    <div :class="{'mt-1 ': label}">
        <input ref="file" type="file">
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>

<script>
import * as FilePond from 'filepond';

import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size';
import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';

export default {
    props: {
        name: {
            type: String,
            required: true
        },
        label: String,
        value: String,
        error: String,
        optional: {
            type: Boolean,
            default: false
        },
        hint: {
            type: Boolean,
            default: true
        },
        maxFileSize: {
            type: String,
            default: '10MB'
        },
        acceptedFileTypes: {
            type: Array,
            default: ['image/png', 'image/jpeg', 'image/gif']
        },
	},
    emits: ['update:value'],
    data() {
        return {
            id: '',
            pond: null,
            file: ''
        }
    },
    created() {
        let length = 10;
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++ ) {
            this.id += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        if(this.value) {
            this.file = this.value;
        }
    },
    mounted() {
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginFileValidateSize,
            FilePondPluginFileValidateType
        );

        let files = [];

        if(this.value) {
            this.file = this.value;
            files.push({
                'source': this.value,
                options: {
                    type: 'limbo'
                }
            });
        }

        this.pond = FilePond.create(
            this.$refs.file,
            {
                name: this.name,
                files: files,
                credits: false,
                labelIdle: `Drag & Drop your file or <span class="filepond--label-action">Browse</span>`,
                labelFileProcessingError: (error) => {
                    if(error.body) {
                        return error.body;    
                    }
                },
                maxFileSize: this.maxFileSize,
                acceptedFileTypes: this.acceptedFileTypes,
                server: {
                    url: '/files/' + this.name,
                    process: '/process',
                    process: {
                        url: '/process',
                        onload: (response) => {
                            this.file = response;
                            return response;
                        },
                        onerror: (response) => response,
                        ondata: (formData) => {
                            return formData;
                        }
                    },
                    restore: '/restore?restore=',
                    revert: {
                        url: '/process',
                        onload: (response) => {
                            this.file = '';
                            return response;
                        },
                        onerror: null,
                        ondata: null
                    },
                    headers: {
                        'X-CSRF-TOKEN': document.querySelector("meta[name='csrf-token']").getAttribute('content')
                    }
                }
            }
        );
    },
    watch: {
        file() {
            this.$emit('update:value', this.file);
        }
    }
};
</script>