<template>
    <label :for="id" class="block font-medium text-sm" v-if="label"><span v-html="label"></span><span class="font-normal text-xs" v-if="optional"> (optional)</span></label>
    <div class="flex rounded-md shadow-sm" :class="{'mt-1 ': label}">
        <span v-if="prepend" class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 dark:border-gray-400 dark:bg-gray-800">
            <slot name="prepend"></slot>
        </span>
        <input :type="type" :value="value" @input="$emit('update:value', $event.target.value)" :name="name" :id="id" class="dark:bg-gray-800 focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 flex-1 block w-full z-10" :class="{'rounded-l-md': (append && !prepend), 'rounded-r-md': (!append && prepend), 'rounded-md': (!append && !prepend), 'border-red-500': error, 'border-gray-300 dark:border-gray-400': !error}" :placeholder="placeholder">
        <span v-if="append" class="inline-flex items-center px-3 rounded-r-md border border-l-0 border-gray-300 dark:border-gray-400 dark:bg-gray-800">
            <slot name="append"></slot>
        </span>
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>
<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        type: {
            type: String,
            default: 'text'
        },
        label: String,
        optional: {
            type: Boolean,
            default: false
        },
        placeholder: {
            type: String,
            default: ''
        },
        append: {
            type: Boolean,
            default: false
        },
        prepend: {
            type: Boolean,
            default: false
        },
        value: String,
        error: String,
        hint: {
            type: Boolean,
            default: true
        }
	},
    emits: ['update:value'],
    data() {
        return {
            id: ''
        }
    },
    created() {
        let length = 10;
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++ ) {
            this.id += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
    }
};
</script>