<template>
    <div class="absolute top-2 left-2 space-y-2" v-if="audio || video">
        <div @click="playAudio" v-if="audio">
            <div class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-full flex items-center text-purple-500 font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
                </svg>
                <span>Audio</span>
            </div>
        </div>
        <div @click="playVideo" v-if="video">
            <div class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-full flex items-center text-purple-500 font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                </svg>
                <span>Video</span>
            </div>
        </div>
    </div>
    <div class="absolute inset-0 bg-white flex items-center justify-center" v-if="audio && showAudio">
        <div @click="showAudio = false" class="absolute top-2 right-2">
            <div class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        <audio ref="audioPlayer" controls>
            <source :src="audio" type="audio/mp3" />
        </audio>
    </div>
    <div class="absolute inset-0 bg-white flex items-center justify-center" v-if="video && showVideo">
        <div @click="showVideo = false" class="absolute top-2 right-2 z-10">
            <div class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        <video :style="{'height': videoHeight}" ref="videoPlayer" playsinline controls>
            <source :src="video" type="video/mp4" />
        </video>
    </div>
</template>

<script>
	export default {
		props: {
            video: {
                type: String,
                default: ''
            },
            audio: {
                type: String,
                default: ''
            },
		},
        data() {
            return {
                showAudio: false,
                showVideo: false,
                videoHeight: '100px'
            }
        },
		methods: {
            playAudio(e) {
                e.preventDefault();
                this.showAudio = true;
                this.$nextTick(() => { 
                    new Plyr(this.$refs[`audioPlayer`], {
                        controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen']
                    })
                })
            },
            playVideo(e) {
                e.preventDefault();
                this.showVideo = true;
                this.videoHeight = document.getElementById('asset-image-wrapper').offsetHeight + 'px';
                this.$nextTick(() => { 
                    new Plyr(this.$refs[`videoPlayer`], {
                        controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen']
                    })
                })
            },
		},
        computed: {
            
        },
        watch: {
            
        },
        created() {
            
        }
	};
</script>