@import 'tailwindcss/base';
@import 'tailwindcss/components';

input.input-label:focus-within ~ span,
input.input-label:not(:placeholder-shown) ~ span {
	@apply block opacity-100;
}

input.input-label:focus-within,
input.input-label:not(:placeholder-shown) {
	@apply pt-5;
}

input.input-label {
    transition: padding .2s;
}


input:checked ~ .toggle-circle {
    transform: translateX(1rem);
}
input:checked ~ .toggle-path {
    background-color:#C4B5FD;
}

.tooltip {
	position: relative;
	cursor: pointer;
	&:hover {
		&:after {
			display: block;
		}
	}
	&:after {
		content: attr(data-tooltip);
		display: none;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: .375rem;
		border-radius: 0.25rem;

		font-size: 0.875rem;
    	line-height: 1.25rem;
		
		position: absolute;
		z-index: 1;
	}
	&.tooltip-top {
		&:after {
			top: auto;
			bottom: 100%;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}
	&.tooltip-bottom {
		&:after {
			top: 100%;
			bottom: auto;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}
	&.tooltip-right {
		&:after {
			top: 50%;
			bottom: auto;
			left: 100%;
			right: auto;
			transform: translateX(0.375rem) translateY(-50%);
		}
	}
	&.tooltip-left {
		&:after {
			top: 50%;
			bottom: auto;
			left: auto;
			right: 100%;
			transform: translateX(-0.375rem) translateY(-50%);
		}
	}
	@media (min-width: 640px) {
		&.sm\:tooltip-top {
			&:after {
				top: auto;
				bottom: 100%;
				left: 50%;
				right: auto;
				transform: translateX(-50%);
			}
		}
		&.sm\:tooltip-bottom {
			&:after {
				top: 100%;
				bottom: auto;
				left: 50%;
				right: auto;
				transform: translateX(-50%);
			}
		}
		&.sm\:tooltip-right {
			&:after {
				top: 50%;
				bottom: auto;
				left: 100%;
				right: auto;
				transform: translateX(0.375rem) translateY(-50%);
			}
		}
		&.sm\:tooltip-left {
			&:after {
				top: 50%;
				bottom: auto;
				left: auto;
				right: 100%;
				transform: translateX(-0.375rem) translateY(-50%);
			}
		}
	}
}

@import 'tailwindcss/utilities';

@import 'filepond';