// ==========================================================================
// Plyr styles
// https://github.com/sampotts/plyr
// TODO: Review use of BEM classnames
// ==========================================================================
@charset 'UTF-8';

@import '~plyr/src/sass/lib/css-vars';
$css-vars-use-native: true;

@import '~plyr/src/sass/settings/breakpoints';

// ==========================================================================
// Colors
// ==========================================================================

$plyr-color-main: var(--plyr-color-main, #8B5CF6) !default;
$plyr-video-background: var(--plyr-video-background, rgba(0,0,0,1)) !default;

// Grayscale
$plyr-color-gray-900: #111827 !default;
$plyr-color-gray-800: #1F2937 !default;
$plyr-color-gray-700: #374151 !default;
$plyr-color-gray-600: #4B5563 !default;
$plyr-color-gray-500: #6B7280 !default;
$plyr-color-gray-400: #9CA3AF !default;
$plyr-color-gray-300: #D1D5DB !default;
$plyr-color-gray-200: #E5E7EB !default;
$plyr-color-gray-100: #F3F4F6 !default;
$plyr-color-gray-50: #F9FAFB !default;

@import '~plyr/src/sass/settings/cosmetics';
@import '~plyr/src/sass/settings/type';

@import '~plyr/src/sass/settings/badges';
@import '~plyr/src/sass/settings/captions';
@import '~plyr/src/sass/settings/controls';
@import '~plyr/src/sass/settings/helpers';
@import '~plyr/src/sass/settings/menus';
@import '~plyr/src/sass/settings/progress';
@import '~plyr/src/sass/settings/sliders';
@import '~plyr/src/sass/settings/tooltips';

@import '~plyr/src/sass/lib/animation';
@import '~plyr/src/sass/lib/functions';
@import '~plyr/src/sass/lib/mixins';

.plyr {
    @include plyr-font-smoothing($plyr-font-smoothing);
    align-items: center;
    direction: ltr;
    display: flex;
    flex-direction: column;
    font-family: $plyr-font-family;
    font-variant-numeric: tabular-nums; // Force monosace-esque number widths
    font-weight: $plyr-font-weight-regular;
    line-height: $plyr-line-height;
    max-width: 100%;
    min-width: 200px;
    position: relative;
    text-shadow: none;
    transition: box-shadow 0.3s ease;
    z-index: 0; // Force any border radius
    max-height: 100%;
  
    // Media elements
    video,
    audio,
    iframe {
        display: block;
        height: 100%;
        width: 100%;
    }
  
    button {
        font: inherit;
        line-height: inherit;
        width: auto;
    }
  
    // Ignore focus
    &:focus {
        outline: 0;
    }
}
  

@if $plyr-border-box {
    .plyr--full-ui {
        box-sizing: border-box;
  
        *,
        *::after,
        *::before {
          box-sizing: inherit;
        }
    }
}

@import '~plyr/src/sass/components/badges';
@import '~plyr/src/sass/components/captions';
@import '~plyr/src/sass/components/control';
@import '~plyr/src/sass/components/controls';
@import '~plyr/src/sass/components/menus';
@import '~plyr/src/sass/components/sliders';
@import '~plyr/src/sass/components/poster';
@import '~plyr/src/sass/components/times';
@import '~plyr/src/sass/components/tooltips';
@import '~plyr/src/sass/components/progress';
@import '~plyr/src/sass/components/volume';

@import '~plyr/src/sass/types/audio';
@import '~plyr/src/sass/types/video';

@import '~plyr/src/sass/states/fullscreen';

.plyr:fullscreen video {
    height: 100% !important;
}

@import '~plyr/src/sass/plugins/ads';
@import '~plyr/src/sass/plugins/preview-thumbnails/index';

@import '~plyr/src/sass/utils/animation';
@import '~plyr/src/sass/utils/hidden';
