<template>
    <slot :days="days" :hours="hours" :minutes="minutes" :seconds="seconds"></slot>
</template>

<script>
export default {
    props: {
        untill: {
            type: Number,
            default: 0,
            validator: (value) => value >= 0
        },
	},
    data() {
        return {
            days: 0,
            hours: 0,
            minutes: 0,
            seconds: 0
        }
    },
    created() {
        var countDownDate = new Date(this.untill * 1000);
        var x = setInterval(() => {
            var now = new Date().getTime();
            var distance = countDownDate - now;

            if (distance < 0) {
                clearInterval(x);
                location.href = '/';
            } else {
                this.days = Math.floor(distance / (1000 * 60 * 60 * 24));
                this.hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                this.seconds = Math.floor((distance % (1000 * 60)) / 1000);   
            }
        }, 1000);
    }
};
</script>