<template>
	<div>
        <div @click="toggle" class="cursor-pointer select-none px-3 flex items-center justify-between hover:text-purple-500" :class="{'border-b border-gray-300 dark:border-gray-400': open}">
            <div class="flex items-center">
                <slot name="header"></slot>
            </div>
            <div class="flex items-center">
                <div class="flex items-center focus:outline-none appearance-none py-4">
                    <svg v-if="open" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                    </svg>
                    <svg v-else class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
            </div>
        </div>
        <div v-if="open">
            <slot name="body"></slot>
        </div>
    </div>
</template>

<script>
	export default {
		props: {
            name: String,
            defaultState: {
                type: Boolean,
                default: true
            }
		},
        data() {
            return {
                open: false
            }
        },
		methods: {
            toggle() {
                this.open = !this.open;
                localStorage.setItem('open-' + this.name, this.open); 
            }
		},
        created() {
            if(localStorage.getItem('open-' + this.name) == 'true') {
                this.open = true;
            } else if(localStorage.getItem('open-' + this.name) == 'false') {
                this.open = false;
            } else {
                this.open = this.defaultState;     
            }
            
        }
	};
</script>