<template>
    <slot :open="open" :toggle="toggle" :hide="hide" :show="show"></slot>
</template>

<script>
export default {
    data() {
        return {
            open: false
        }
    },
    methods: {
        toggle() {
            this.open = !this.open;
        },
        hide() {
            this.open = false;
        },
        show() {
            this.open = true;
        }
    }
};
</script>