<template>
    <div class="relative w-full sm:max-w-3xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="border-b border-gray-300 -mx-6 -mt-4 mb-4">
            <div class="-mb-px">
                <div class="flex justify-center items-center space-x-6">
                    <button title="Public" @click="test = false" type="button" class="flex font-medium items-center focus:outline-none appearance-none py-4 border-b" :class="{'text-purple-500 border-purple-500': !test, 'hover:text-purple-500 border-transparent hover:border-purple-500': test}">Public</button>
                    <button title="Testnet" @click="test = true" type="button" class="flex font-medium items-center focus:outline-none appearance-none py-4 border-b" :class="{'text-purple-500 border-purple-500': test, 'hover:text-purple-500 border-transparent hover:border-purple-500': !test}">Testnet</button>
                </div>
            </div>
        </div>
        <div v-if="!notFound">
            <div class="space-y-4" v-if="!loading">
                <div>
                    <div class="block font-medium text-sm">Code</div>
                    <div class="mt-1">
                        <span class="break-words" v-html="code"></span>
                    </div>
                </div>
                <div>
                    <div class="block font-medium text-sm">Issuer</div>
                    <div class="mt-1">
                        <span class="break-words" v-html="issuer"></span>
                    </div>
                </div>
                <div v-if="data.owner">
                    <div class="block font-medium text-sm">Owner</div>
                    <div class="mt-1">
                        <a target="_blank" class="underline" :href="ownerShowLink"><span class="break-words" v-html="data.owner"></span></a>
                    </div>
                </div>
                <div v-if="data.name">
                    <div class="block font-medium text-sm">Name</div>
                    <div class="mt-1">
                        <span class="break-words" v-html="decodeBase64(data.name)"></span>
                    </div>
                </div>
                <div v-if="data.royaltyAmount">
                    <div class="block font-medium text-sm">Royalty</div>
                    <div class="mt-1">
                        <span v-html="(decodeBase64(data.royaltyAmount) * 0.0000001)"></span>% to <span class="break-words" v-html="decodeBase64(data.royaltyReceiver)"></span>
                    </div>
                </div>
                <div v-if="data.ipfs">
                    <div class="block font-medium text-sm">IPFS</div>
                    <div class="mt-1">
                        <a :href="`https://ipfs.io/ipfs/${decodeBase64(data.ipfs)}`" target="_blank" class="underline break-words" v-html="decodeBase64(data.ipfs)"></a>
                    </div>
                </div>
                <div class="space-y-2" v-if="data.dataEntries">
                    <div v-for="entry in data.dataEntries" :key="entry.name">
                        <div class="block font-medium text-sm" v-html="entry.name"></div>
                        <div class="mt-1">
                            <span class="break-words" v-html="decodeBase64(entry.value)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="loading" class="flex items-center justify-center text-purple-500">
                <svg class="animate-spin h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
        </div>
        <div v-else>
            <div class="block text-left text-red-600 bg-red-200 border border-red-400 p-4 rounded-sm text-sm text-center" role="alert">
                <div class="text-2xl text-center font-medium">The NFT does not exist on the ledger!</div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		props: {
            code : {
                type: String,
                required: true
            },
			issuer: {
                type: String,
                required: true
            },
		},
        data() {
            return {
                test: false,
                loading: true,
                notFound: false,
                data: {}
            }
        },
		methods: {
            decodeBase64(string) {
                return atob(string);
            },

            getNFTData() {
                fetch(this.horizonServer + `accounts/${this.issuer}`)
                .then(response => response.json())
                .then(data => {
                    if(data.data) {
                        this.data.dataEntries = []
                        Object.keys(data.data).forEach(name => {
                            if(['name', 'royaltyReceiver', 'royaltyAmount', 'ipfs'].includes(name)) {
                                this.data[name] = data.data[name];
                            } else {
                                this.data.dataEntries.push({
                                    name: name,
                                    value: data.data[name],
                                })    
                            }
                            
                        });
                    }
                })
                .catch(error => {
                    
                });
            },
            getNFTOwner() {
                fetch(this.horizonServer + `accounts?asset=${this.code}:${this.issuer}`)
                .then(response => response.json())
                .then(data => {
                    if(data['_embedded'] && data['_embedded']['records'].length > 0) {
                        var trustlines = data['_embedded']['records'];
                        trustlines.forEach(trustline => {
                            let balances = trustline['balances'];
                            balances.forEach(balance => {
                                if(balance['asset_issuer'] && balance['asset_issuer'] == this.issuer && balance['balance'] == '0.0000001') {
                                    this.data.owner = trustline.account_id;
                                }
                            })
                        })
                    }
                })
                .catch(error => {
                    
                });
            },
            getNFTInfo() {
                this.loading = true;
                this.notFound = false;
                this.data = {};

                fetch( this.horizonServer + `assets/?asset_issuer=${this.issuer}&asset_code=${this.code}`)
                .then(response => response.json())
                .then(data => {
                    if(data['_embedded'] && data['_embedded']['records'].length > 0) {
                        var nft = data['_embedded']['records'][0];
                        if(nft['amount'] != '0.0000001') {
                            this.loading = false;
                            this.notFound = true;
                            return;
                        }
                        this.getNFTOwner();
                        this.getNFTData();
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.notFound = true;
                    }
                })
            }
		},
        created() {
            if(window.location.hash == '#testnet') {
                this.test = true;
            } else {
                this.getNFTInfo();    
            }
        },
        computed: {
            horizonServer() {
                let horizonServer = 'https://horizon.stellar.org/';

                if(this.test) {
                    horizonServer = 'https://horizon-testnet.stellar.org/';
                }

                return horizonServer;
            },
            assetType() {
                let type = 'credit_alphanum4';

                if(this.code.length > 4) type = 'credit_alphanum12';

                return type;
            },
            ownerShowLink() {
                let link = '';

                if(this.data.owner) {
                    link = `https://stellar.expert/explorer/${ this.test ? 'testnet' : 'public'}/account/` + this.data.owner;
                }

                return link;
            }
        },
        watch: {
            test(newVal, oldVal) {
                if(this.test) {
                    if(history.pushState) {
                        history.pushState(null, null, '#testnet');
                    } else {
                        location.hash = '#testnet';
                    }
                } else {
                    if(history.pushState) {
                        history.pushState(null, null, ' ');
                    } else {
                        location.hash = ' ';
                    }
                }
                if(newVal != oldVal) {
                    this.getNFTInfo();
                }
            }
        }
	};
</script>