<template>
	<div class="pt-6">
        <div class="w-full mx-auto">
            <div class="flex items-center w-full p-3 relative bg-white dark:bg-gray-700 sm:rounded-md shadow overflow-hidden">
                <button class="absolute w-5 h-5 cursor-pointer focus:outline-none" @click="searchAssets()">
                    <svg class="w-5 h-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </button>
                <input type="search" placeholder="Search for items" class="w-full pl-8 py-0 outline-none focus:outline-none bg-transparent focus:shadow-none focus:ring-0 border-none" v-on:keyup.enter="searchAssets()" v-model="search">
            </div>
            <div class="relative px-2 sm:px-0 flex items-center justify-between mt-6">
                <div>
                    <div class="sm:relative" v-click-outside="hideCategoryDropdown">
                        <button class="bg-white flex border border-gray-300 p-2 text-purple-500 font-medium shadow-sm rounded-md hover:border-purple-500 transition duration-150 ease-in-out focus:outline-none" :class="{'border-purple-500': category != ''}" @click="showCategoryDropdown = !showCategoryDropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                            </svg>
                            <span>Category</span>
                        </button>
                        <transition
                            enter-active-class="transition ease-out duration-200"
                            enter-class="transform opacity-0"
                            enter-to-class="transform opacity-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-class="transform opacity-100"
                            leave-to-class="transform opacity-0"
                        >
                        <div v-show="showCategoryDropdown"
                                class="absolute z-50 px-2 sm:px-0 pt-2 w-48 origin-top-left left-0"
                                style="display: none;"
                                >
                            <div class="rounded-md ring-1 ring-black ring-opacity-5 py-2 shadow-lg bg-white dark:bg-gray-700">
                                <div>
                                    <div class="py-2 px-3 text-xs font-medium text-gray-400">Categories</div>
                                    <button class="text-sm w-full font-medium py-1 px-3 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-none" key="all-categories" @click="category = ''">
                                        <div class="flex items-center justify-between text-left">
                                            <div>All</div>
                                            <div v-if="'' == category" class="text-purple-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="text-sm w-full font-medium py-1 px-3 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-none" v-for="categoryElement in categories" :key="categoryElement.id" @click="category = categoryElement.id">
                                        <div class="flex items-center justify-between text-left">
                                            <div v-html="categoryElement.name"></div>
                                            <div v-if="categoryElement.id == category" class="text-purple-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </transition>
                    </div>
                </div>
                <div>
                    <div class="sm:relative" v-click-outside="hideFilterDropdown">
                        <button class="bg-white flex border border-gray-300 p-2 text-purple-500 font-medium shadow-sm rounded-md hover:border-purple-500 transition duration-150 ease-in-out focus:outline-none" :class="{'border-purple-500': filter.length > 0}" @click="showFilterDropdown = !showFilterDropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                            </svg>
                            <span>Filter & Sort</span>
                        </button>

                        <transition
                            enter-active-class="transition ease-out duration-200"
                            enter-class="transform opacity-0"
                            enter-to-class="transform opacity-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-class="transform opacity-100"
                            leave-to-class="transform opacity-0"
                        >
                        <div v-show="showFilterDropdown"
                                class="absolute z-50 px-2 sm:px-0 pt-2 w-48 origin-top-right right-0"
                                style="display: none;"
                                >
                            <div class="rounded-md ring-1 ring-black ring-opacity-5 py-2 shadow-lg bg-white dark:bg-gray-700">
                                <div>
                                    <div class="py-2 px-3 text-xs font-medium text-gray-400">Sort By</div>
                                    <button class="text-sm w-full font-medium py-1 px-3 hover:bg-gray-200 transition duration-150 ease-in-out focus:outline-none" v-for="option in searchOrders" :key="option.value" @click="order = option.value">
                                        <div class="flex items-center justify-between">
                                            <div v-html="option.text"></div>
                                            <div v-if="option.value == order" class="text-purple-500">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div>
                                    <div class="py-2 px-3 text-xs font-medium text-gray-400">Filter</div>
                                    <div v-for="option in filterOptions" :key="option.value">
                                        <label :for="option.value" class="flex w-full py-1 px-3 items-center cursor-pointer">
                                            <div class="relative">
                                                <input :id="option.value" :value="option.value" v-model="filter" type="checkbox" class="hidden" />
                                                <div class="toggle-path bg-gray-200 w-9 h-5 rounded-full shadow-inner transition duration-300 ease-in-out"></div>
                                                <div class="toggle-circle absolute w-3 h-3 bg-white rounded-full shadow inset-y-0 left-0 transition duration-300 ease-in-out top-1 left-1"></div>
                                            </div>
                                            <div class="ml-2 text-sm font-medium" v-html="option.text"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ref="assetsList" class="mt-12">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4" v-if="assets.length > 0 || loading">
            <assets-item :asset="asset" :hideScroll="true" :scrollY="scrollY" v-for="asset in assets" :key="asset.asset_id"></assets-item>
        </div>
        <div v-if="loading" class="mt-6 flex justify-center items-center">
            <svg class="animate-spin h-12 w-12 text-purple-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        </div>
        <div class="text-center" v-if="assets.length == 0 && !loading">
            <slot name="no-items"></slot>
        </div>
    </div>
</template>

<script>
	export default {
		props: {
            showBountyInfo: {
                type: Boolean,
                default: false
            },
			action: {
                type: String,
				required: true
			},
            presetFilter: {
                type: Array,
                defautlt: [],
                required: false
            },
            categories: {
                type: Array,
                defalut: [],
                required: false
			}
		},
        data() {
            return {
                assets: [],
                search: '',
                loading: false,
                loadIndex: 0,

                showFilterDropdown: false,
                filterOptions: [
                    {
                        text: 'NSFW',
                        value: 'nsfw'
                    },
                    {
                        text: 'Has offers',
                        value: 'has_offers'
                    },
                    {
                        text: 'Only verified',
                        value: 'only_verified'
                    }
                ],
                filter: [],
                searchOrders: [
                    {
                        text: 'Recently Listed',
                        value: 'listing_date_desc'
                    },
                    {
                        text: 'Recently Sold',
                        value: 'last_sale_date'
                    },
                    {
                        text: 'Price: Low to High',
                        value: 'price_asc'
                    },
                    {
                        text: 'Price: High to Low',
                        value: 'price_desc'
                    },
                    {
                        text: 'Oldest',
                        value: 'listing_date_asc'
                    }
                ],
                order: 'listing_date_desc',

                showCategoryDropdown: false,
                category: '',

                total: '',
                loadItems: 50,
                currentPage: 1,
                ended: false,
                clearAssets: false,

                scrollY: 0,

                searchDebounce: null
            }
        },
		methods: {
            hideCategoryDropdown(){
                this.showCategoryDropdown = false;
            },
            hideFilterDropdown(){
                this.showFilterDropdown = false;
            },
            nextAssets() {
                if(this.ended) return false;

                let assetsList = this.$refs['assetsList'];

                if(!assetsList) {
                    this.$nextTick(() => { this.nextAssets() })
                    return;
                }

                if((assetsList.getBoundingClientRect().bottom - 600) < window.innerHeight) {
                    this.fetchAssets();
                }
            },
            resetAssets() {
                this.assets = [];
                this.currentPage = 1;
                this.ended = false;
            },
            searchAssets() {
                if(this.clearAssets) {
                    this.resetAssets();
                    this.clearAssets = false;
                    this.fetchAssets();
                }
            },
			fetchAssets() {
                if(this.loading) return;

                this.loading = true;

                axios.post(this.action, {
                    page: this.currentPage,
                    filter: this.filter,
                    category: this.category,
                    order: this.order,
                    search: this.search,
                    limit: this.loadItems
                })
                .then(response => {
                    this.loading = false;
                    if(response.data.assets) {
                        this.currentPage++;
                        this.showNewAssets(response.data.assets);
                        this.ended = response.data.ended;
                        this.total = response.data.total;
                        this.loadIndex++;
                        if(!this.ended) {
                            this.$nextTick(() => { this.nextAssets() })
                        }     
                    }
                       
                })
                .catch(error => {
                    this.loading = false;
                    this.ended = true;
                });
            },
            showNewAssets(assets) {
                assets.forEach((asset) => {
                    if(!this.assetIds.includes(asset.asset_id)) this.assets.push(asset);
                });
            },
            handleScroll(e) {
                this.scrollY = window.scrollY;
                this.nextAssets();
            }
		},
        computed: {
            assetIds() {
                let ids = [];

                this.assets.forEach((asset) => {
                    ids.push(asset.asset_id);
                });

                return ids;
            }
        },
        watch: {
            search(newValue, oldValue) {
                if(newValue != oldValue) {
                    clearTimeout(this.searchDebounce);
                    this.clearAssets = true;
                    this.searchDebounce = setTimeout(() => {
                        this.searchAssets();
                    }, 500);
                }
            },
            order(newValue, oldValue) {;
                if(newValue != oldValue) {
                    this.clearAssets = true;
                    this.searchAssets();
                }
            },
            filter(newValue, oldValue) {
                localStorage.setItem('assets-filter', JSON.stringify(this.filter));
                this.clearAssets = true;
                this.searchAssets();
            },
            category(newValue, oldValue) {
                if(newValue != oldValue) {
                    this.clearAssets = true;
                    this.searchAssets();
                }
            }
        },
        created() {
            var localStorageFilter = JSON.parse(localStorage.getItem('assets-filter'));
            if(this.presetFilter) {
                this.filter = this.presetFilter;  
            } else if(localStorageFilter != null) {
                this.filter = localStorageFilter;
            }

            if(this.showBountyInfo) {
                this.searchOrders.push({
                    text: 'Highest Bounty %',
                    value: 'highest_bounty'
                })
                this.filterOptions.push({
                    text: 'Has Bounty',
                    value: 'has_bounty'
                })
            }
        },
		mounted: function() {
            this.nextAssets();
            this.scrollY = window.scrollY;
			document.addEventListener('scroll', this.handleScroll);
		}
	};
</script>