<template>
	<div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <div class="block font-medium text-sm">NFT</div>
                <div class="mt-1">
                    <a target="new-show-nft" :href="NFTLink" class="text-purple-500 font-medium" v-html="`${nft.code} (${nft.issuer.substr(0, 5)}...${nft.issuer.substr(-5)})`"></a>
                </div>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
    <assets-fields :categories="categories" :loading="loading" :errors="errors" v-model:value="data"></assets-fields>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <v-checkbox name="terms" :error="getError('terms')" label="I agree" v-model:value="terms">
                    <template #hint>By clicking "I agree" you agree that StellarNFT's administration can hide (from the search) or remove (from the site) your listing at their discretion.</template>
                </v-checkbox>
            </div>
            <div>
                <button @click="updateAsset()" class="inline-flex items-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full justify-center h-12" :disabled="loading">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div class="flex items-center" v-else>
                        <div>Update</div>
                    </div>
                </button>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
</template>

<script>
	export default {
		props: {
            categories: {
                type: Array,
                defalut: [],
                required: false
			},
			action: {
				required: true,
				type: String
			},
            test: {
                type: Boolean,
                required: true,
                default: true
            },
            wallet: {
                type: String,
                required: true
            },
            userPublicKey: {
                type: String,
                required: true
            },
            assetData: {
                type: Object,
                required: true
            }
		},
        data() {
            return {
                loading: false,

                errors: {},
                data: {
                    name: '',
                    description: '',
                    lockable: '',
                    image: '',
                    price: '',
                    min_offer: '',
                    nsfw: [],
                    private: []
                },

                terms: [],

                nft: {
                    issuer: '',
                    code: ''
                }
            }
        },
		methods: {
            updateAsset() {
                if(this.loading) return;

                this.loading = true;
                this.errors = {};

                axios.put(this.action, {
                    terms: this.terms,
                    ...this.data
                })
                .then(response => {
                    if(response.data.success) {
                        this.loading = false;
                        if(response.data.url) location.href = response.data.url;
                    } else {
                        this.loading = false;
                        this.addError('name', 'An error occurred, please try again later.');
                        this.$nextTick(() => {
                            let domRect = document.querySelector('.validation-error').parentNode.getBoundingClientRect();
                            window.scrollTo(
                                0,
                                domRect.top + document.documentElement.scrollTop
                            );
                        });
                    }
                })
                .catch(error => {
                    this.loading = false;
                    const response = error.response;
                    this.errors = response.data.errors;
                    this.$nextTick(() => {
                        let domRect = document.querySelector('.validation-error').parentNode.getBoundingClientRect();
                        window.scrollTo(
                            0,
                            domRect.top + document.documentElement.scrollTop
                        );
                    });
                });
            },
            addError(name, error) {
                this.errors[name] = [];
                this.errors[name].push(error);
            },
            getError(name) {
                if(this.errors[name]) {
                    return this.errors[name][0];
                }

                return '';
            },
		},
        created() {
            this.data = this.assetData.data;
            this.nft = this.assetData.nft;
        },
        computed: {
            NFTLink() {
                if(!this.nft.issuer) return '';

                if(!this.nft.code) return '';

                let link = `/nft/${ this.nft.code }-${this.nft.issuer }${ this.test ? '#testnet' : ''}`;

                return link;
            }
        }
	};
</script>